// Primary
$green-20: #005e47;
$green-15: #169073;
$green-10: #33cc9e;
$green-5: #94e9ca;
$green-0: #d9ffef;

// Secondary
$blue-20: #0a1254;
$blue-15: #3a4392;
$blue-10: #646fc8;
$blue-5: #cdd7ff;
$blue-0: #e5ecff;

// Neutrals
$black: #131415;
$grey-20: #3f4850;
$grey-15: #72808e;
$grey-10: #a0aebc;
$grey-5: #ced7e0;
$grey-0: #eaf1f8;
$white: #ffffff;

// Semantic
$red-20: #932323;
$red-15: #d84444;
$red-10: #ff6b6b;
$red-5: #fec8c8;
$red-0: #ffebeb;

$yellow-20: #c98706;
$yellow-15: #e7a62a;
$yellow-10: #fcce76;
$yellow-5: #fce0aa;
$yellow-0: #fff2d9;

// Background
$background-main: #f6f9ff;
$background-overlay: #a1a1a1;

// Theme
$primary: $green-15;
$secondary: $blue-15;
$success: $green-15;
$danger: $red-15;
$warning: $yellow-15;
$info: $blue-15;
$light: $grey-10;